body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.chart-container {
  width: 70vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.chart.dragging {
  opacity: 0.5;
  border: 2px dashed gray;
  cursor: move; 
}

.chart:hover {
  cursor: pointer; 
}

.chart:hover::after {
  content: "Click to drag"; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 5px 10px;
  border-radius: 5px;
}